<ng-container *ngFor="let task of tasksToShow">
  <mat-card>
    <mat-card-title>{{ task.name }}</mat-card-title>
    <mat-card-content>
      <div *ngFor="let focus of focusesForTask(task.id)">
        [{{ focusDurationFormatted(focus) }}]
        {{ focus.start | date: "mediumDate" }}
        {{ focus.start | date: "HH:mm" }}&ndash;{{ focus.end | date: "HH:mm" }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        *ngIf="currentTaskId == null"
        (click)="startFocus(task)"
      >
        Start focus
      </button>
      <button mat-button *ngIf="currentTaskId != null" (click)="endFocus()">
        End focus
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
